################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusinessLayer/obj/Debug
/DataAccessLayer/obj/Debug
/packages
/SimpleStoreWeb/bin
/SimpleStoreWeb/obj/Debug
/Utilities/obj/Debug
/BusinessLayer/bin/Debug
/DataAccessLayer/bin/Debug
/Utilities/bin/Debug
